.mediaViewInfo {
	--web-view-name: LOG IN – 1;
	--web-view-id: LOG_IN__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: LOG_IN__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#LOG_IN__1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: LOG IN – 1;
	--web-view-id: LOG_IN__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Path_5 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 701px;
	height: 828px;
	left: 610px;
	top: 179px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-account-circle {
	fill: rgba(0,0,0,1);
}
.Icon_material-account-circle {
	overflow: visible;
	position: absolute;
	width: 146.773px;
	height: 139.844px;
	left: 886.614px;
	top: 217px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_42 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_42 {
	position: absolute;
	overflow: visible;
	width: 590px;
	height: 81px;
	left: 665px;
	top: 451px;
}
#Path_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 590px;
	height: 81px;
	left: 665px;
	top: 553px;
	transform: matrix(1,0,0,1,0,0);
}
#Email {
	opacity: 0.2;
	left: 916px;
	top: 474px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(40,41,50,1);
}
#Password {
	opacity: 0.2;
	left: 889px;
	top: 576px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	text-align: center;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(40,41,50,1);
}
#Path_3 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 285px;
	height: 81px;
	left: 818px;
	top: 705px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Log_In {
	left: 898px;
	top: 721px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: center;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(40,41,50,1);
}
#Forget_password {
	opacity: 0.7;
	left: 830px;
	top: 642px;
	position: absolute;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	text-align: center;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,25,255,1);
}
#Path_4 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 205.996px;
	height: 81px;
	left: 665px;
	top: 893px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: LOG_IN.html;
	cursor: pointer;
}
#Back {
	left: 718px;
	top: 910px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: center;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(40,41,50,1);
}
#Rectangle_24 {
	fill: rgba(255,174,188,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 117px;
	left: 0px;
	top: 0px;
}
#SEOUL_K-RAVINGS_PH {
	left: 35px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 664px;
	white-space: nowrap;
	text-align: left;
	font-family: Poor Richard;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(0,0,0,1);
}
#Home {
	left: 1152px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Product {
	left: 1323px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: PRODUCT.html;
	cursor: pointer;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#About_Us {
	left: 1532px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ABOUT_US.html;
	cursor: pointer;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 49px;
	left: 1295.5px;
	top: 40px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 49px;
	left: 1504.5px;
	top: 40px;
	transform: matrix(1,0,0,1,0,0);
}
#Log_In_bc {
	left: 1759px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Line_3 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 49px;
	left: 1731.5px;
	top: 38px;
	transform: matrix(1,0,0,1,0,0);
}