.mediaViewInfo {
	--web-view-name: PRODUCT;
	--web-view-id: PRODUCT;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: PRODUCT;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#PRODUCT {
	position: absolute;
	width: 1920px;
	height: 1724px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: PRODUCT;
	--web-view-id: PRODUCT;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_51 {
	fill: rgba(0,0,0,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_51 {
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 370px;
	left: 164px;
	top: 1161px;
}
#Rectangle_50 {
	fill: rgba(0,0,0,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_50 {
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 370px;
	left: 164px;
	top: 725px;
}
#Rectangle_4 {
	fill: rgba(0,0,0,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 370px;
	left: 164px;
	top: 289px;
}
#Rectangle_7 {
	fill: rgba(0,0,0,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 370px;
	left: 587px;
	top: 289px;
}
#Path_8 {
	fill: rgba(0,0,0,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 323px;
	height: 370px;
	left: 1010px;
	top: 289px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_11 {
	fill: rgba(0,0,0,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 370px;
	left: 1433px;
	top: 289px;
}
#Rectangle_13 {
	fill: rgba(0,0,0,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 370px;
	left: 587px;
	top: 725px;
}
#Rectangle_14 {
	fill: rgba(0,0,0,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 370px;
	left: 1010px;
	top: 725px;
}
#Rectangle_15 {
	fill: rgba(0,0,0,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 370px;
	left: 1433px;
	top: 725px;
}
#Mask_Group_2 {
	position: absolute;
	width: 279px;
	height: 282px;
	left: 186px;
	top: 306px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: SOJU_INFO.html;
	cursor: pointer;
}
#Image_2 {
	position: absolute;
	width: 282px;
	height: 282px;
	left: 608px;
	top: 306px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: JAJANGMYEON_INFO.html;
	cursor: pointer;
}
#Image_3 {
	position: absolute;
	width: 279px;
	height: 279px;
	left: 1032px;
	top: 308px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: JIN_RAMEN_INFO.html;
	cursor: pointer;
}
#Image_6 {
	position: absolute;
	width: 280px;
	height: 280px;
	left: 1455px;
	top: 306px;
	overflow: visible;
}
#Mask_Group_3 {
	position: absolute;
	width: 279px;
	height: 282px;
	left: 186px;
	top: 742px;
	overflow: visible;
}
#Mask_Group_4 {
	position: absolute;
	width: 279px;
	height: 282px;
	left: 609px;
	top: 742px;
	overflow: visible;
}
#Image_9 {
	position: absolute;
	width: 284px;
	height: 284px;
	left: 1030px;
	top: 741px;
	overflow: visible;
}
#Mask_Group_5 {
	position: absolute;
	width: 280px;
	height: 280px;
	left: 1455px;
	top: 741px;
	overflow: visible;
}
#Path_7 {
	fill: rgba(0,0,0,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 323px;
	height: 370px;
	left: 587px;
	top: 1161px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_18 {
	fill: rgba(0,0,0,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 370px;
	left: 1010px;
	top: 1161px;
}
#Rectangle_19 {
	fill: rgba(0,0,0,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 323px;
	height: 370px;
	left: 1433px;
	top: 1161px;
}
#Mask_Group_6 {
	position: absolute;
	width: 279px;
	height: 279px;
	left: 186px;
	top: 1180px;
	overflow: visible;
}
#Mask_Group_7 {
	position: absolute;
	width: 279px;
	height: 279px;
	left: 610px;
	top: 1180px;
	overflow: visible;
}
#Image_14 {
	position: absolute;
	width: 278px;
	height: 278px;
	left: 1033px;
	top: 1180px;
	overflow: visible;
}
#Image_15 {
	position: absolute;
	width: 278px;
	height: 278px;
	left: 1456px;
	top: 1181px;
	overflow: visible;
}
#Rectangle_24 {
	fill: rgba(255,174,188,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 117px;
	left: 0px;
	top: 0px;
}
#SEOUL_K-RAVINGS_PH {
	left: 35px;
	top: 24px;
	position: absolute;
	overflow: visible;
	width: 664px;
	white-space: nowrap;
	text-align: left;
	font-family: Poor Richard;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(0,0,0,1);
}
#Home {
	left: 1152px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Product {
	left: 1323px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#About_Us {
	left: 1532px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ABOUT_US.html;
	cursor: pointer;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 49px;
	left: 1295.5px;
	top: 40px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 49px;
	left: 1504.5px;
	top: 40px;
	transform: matrix(1,0,0,1,0,0);
}
#Log_In {
	left: 1759px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: LOG_IN.html;
	cursor: pointer;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Line_3 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 49px;
	left: 1731.5px;
	top: 38px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 363.5px;
	height: 61px;
	left: 1422px;
	top: 158px;
}
#Icon_awesome-search {
	fill: rgba(0,0,0,1);
}
.Icon_awesome-search {
	overflow: visible;
	position: absolute;
	width: 49.167px;
	height: 45.632px;
	left: 1710.001px;
	top: 165.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-shopping-cart {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_awesome-shopping-cart {
	overflow: visible;
	position: absolute;
	width: 61.585px;
	height: 49.75px;
	left: 1813.423px;
	top: 163.941px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: CART.html;
	cursor: pointer;
}
#Search_Bar {
	left: 1458.25px;
	top: 164px;
	position: absolute;
	overflow: visible;
	width: 198px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(40,41,50,1);
}
#Soju {
	left: 288px;
	top: 588px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Jajangmyeon {
	left: 628px;
	top: 588px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Jin_Ramen {
	left: 1080px;
	top: 588px;
	position: absolute;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Lotte_Luncheon {
	left: 1456px;
	top: 594px;
	position: absolute;
	overflow: visible;
	width: 281px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Melona {
	left: 257px;
	top: 1025px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Korean_Nori {
	left: 638px;
	top: 1025px;
	position: absolute;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Yopokki {
	left: 1095px;
	top: 1025px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Kimchi {
	left: 1532px;
	top: 1025px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Corn-Dog {
	left: 658px;
	top: 1459px;
	position: absolute;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Pepero {
	left: 1106px;
	top: 1459px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Maxim_Coffee {
	left: 1467px;
	top: 1459px;
	position: absolute;
	overflow: visible;
	width: 258px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Fishcake {
	left: 244px;
	top: 1459px;
	position: absolute;
	overflow: visible;
	width: 164px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Rectangle_52 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_52 {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 38px;
	left: 257px;
	top: 665px;
}
#Add_to_Cart {
	left: 272px;
	top: 672px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(3,0,0,1);
}
#n_ {
	left: 316px;
	top: 635px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__ca {
	left: 738px;
	top: 635px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__cb {
	left: 1161px;
	top: 635px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__cc {
	left: 1584px;
	top: 635px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__cd {
	left: 315px;
	top: 1070px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__ce {
	left: 739px;
	top: 1070px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__cf {
	left: 1161px;
	top: 1070px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__cg {
	left: 1584px;
	top: 1070px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__ch {
	left: 315px;
	top: 1504px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__ci {
	left: 739px;
	top: 1504px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__cj {
	left: 1162px;
	top: 1504px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n__ck {
	left: 1585px;
	top: 1504px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Rectangle_53 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53 {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 38px;
	left: 681px;
	top: 665px;
}
#Add_to_Cart_cm {
	left: 696px;
	top: 672px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(3,0,0,1);
}
#Rectangle_54 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54 {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 38px;
	left: 1104px;
	top: 665px;
}
#Add_to_Cart_co {
	left: 1119px;
	top: 672px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(3,0,0,1);
}
#Rectangle_55 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_55 {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 38px;
	left: 1527px;
	top: 667px;
}
#Add_to_Cart_cq {
	left: 1542px;
	top: 674px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(3,0,0,1);
}
#Rectangle_56 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_56 {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 38px;
	left: 257px;
	top: 1100px;
}
#Add_to_Cart_cs {
	left: 272px;
	top: 1107px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(3,0,0,1);
}
#Rectangle_57 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_57 {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 38px;
	left: 681px;
	top: 1100px;
}
#Add_to_Cart_cu {
	left: 696px;
	top: 1107px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(3,0,0,1);
}
#Rectangle_58 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_58 {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 38px;
	left: 1104px;
	top: 1100px;
}
#Add_to_Cart_cw {
	left: 1119px;
	top: 1107px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(3,0,0,1);
}
#Rectangle_59 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_59 {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 38px;
	left: 1527px;
	top: 1102px;
}
#Add_to_Cart_cy {
	left: 1542px;
	top: 1109px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(3,0,0,1);
}
#Rectangle_60 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_60 {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 38px;
	left: 257px;
	top: 1545px;
}
#Add_to_Cart_c {
	left: 272px;
	top: 1552px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(3,0,0,1);
}
#Rectangle_61 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_61 {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 38px;
	left: 681px;
	top: 1545px;
}
#Add_to_Cart_da {
	left: 696px;
	top: 1552px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(3,0,0,1);
}
#Rectangle_62 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_62 {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 38px;
	left: 1104px;
	top: 1545px;
}
#Add_to_Cart_db {
	left: 1119px;
	top: 1552px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(3,0,0,1);
}
#Rectangle_63 {
	fill: rgba(0,255,93,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_63 {
	position: absolute;
	overflow: visible;
	width: 137px;
	height: 38px;
	left: 1527px;
	top: 1547px;
}
#Add_to_Cart_dc {
	left: 1542px;
	top: 1554px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(3,0,0,1);
}
#INVENTORY_SYSTEM {
	left: 31px;
	top: 159px;
	position: absolute;
	overflow: visible;
	width: 431px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: PRODUCT___2.html;
	cursor: pointer;
	text-align: center;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(40,41,50,1);
}
#Line_14 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_14 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 49px;
	left: 488px;
	top: 158px;
	transform: matrix(1,0,0,1,0,0);
}
#SALES_SYSTEM {
	left: 515px;
	top: 159px;
	position: absolute;
	overflow: visible;
	width: 299px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: PRODUCT___3.html;
	cursor: pointer;
	text-align: center;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(40,41,50,1);
}
#Line_15 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_15 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 49px;
	left: 840px;
	top: 159px;
	transform: matrix(1,0,0,1,0,0);
}
#ORDER_LIST {
	left: 867px;
	top: 161px;
	position: absolute;
	overflow: visible;
	width: 253px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: ORDER_LIST.html;
	cursor: pointer;
	text-align: center;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(40,41,50,1);
}
#Line_42 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_42 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 49px;
	left: 1146px;
	top: 159px;
	transform: matrix(1,0,0,1,0,0);
}
#SUPPLIERS {
	left: 1173px;
	top: 161px;
	position: absolute;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: SUPPLIERS.html;
	cursor: pointer;
	text-align: center;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(40,41,50,1);
}